@import 'homepage/homepage-sections';
@import 'homepage/section-masthead';
@import 'homepage/homepage-cards';

@import 'homepage/masked-images';

.vtsn-vs-btc-table {
   font-family: sans-serif;
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.vtsn-vs-btc-table thead tr {
   background-color: var(--color-headings);
   color: var(--color-text-inverse);
   text-align: left;
}

.vtsn-vs-btc-table th,
.vtsn-vs-btc-table td {
    padding: 10px 12px;
    text-align: center;
}

.vtsn-vs-btc-table td.item {
   text-align: left !important;
}

.vtsn-vs-btc-table tbody tr {
   border-bottom: 1px solid var(--color-bg-gray-subtle);
}

.vtsn-vs-btc-table tbody tr {
   //background-color: var(--color-bg-gray-muted);
}

.vtsn-vs-btc-table tbody tr:nth-of-type(even) {
   background-color: var(--color-bg-gray-muted);
}

.vtsn-vs-btc-table tbody tr:last-of-type {
   border-bottom: 2px solid var(--color-headings);
}

@media (max-width: 35em) {
   .vtsn-vs-btc-table {
      margin: 6px 0;
      font-size: 0.75em;
      min-width: 200px;
      width: 100%;
   }

   .vtsn-vs-btc-table th,
   .vtsn-vs-btc-table td {
      padding: 10px 5px;
      text-align: center;
   }
}
// mobile
