@font-face {
   font-family: 'ShentoxMedium';
   font-style: normal;
   font-weight: normal;
   text-rendering: optimizeLegibility;
   src: url("sh2003-Md.woff2") format("woff2"), url('sh2003-Md.ttf') format('truetype'); }
 