@font-face {
   font-family: 'ShentoxMedium';
   font-style: normal;
   font-weight: normal;
   text-rendering: optimizeLegibility;
   src: url("../../webfonts/shentox-medium.woff2") format("woff2"); }
 