footer {
   color: var(--color-text-inverse);
   background: var(--bg-section-footer);
   background-size: cover;
   background-position: bottom left;
   z-index: 10;
   position: relative;
   padding: 1.2rem;
   font-size: 0.8rem;

   p {
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom: 1rem;
   }
 }
