.body-cover {
   // opacity here to eliminate empty ruleset warning
   opacity: 0;
}
.body-overlay {
   // opacity here to eliminate empty ruleset warning
   opacity: 0;
}
.body-mask {
   // opacity here to eliminate empty ruleset warning
   opacity: 0;
}
