.flex {
  display: flex;
  gap: var(--flex-gap, 1rem); /* variable undefined */
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem); /* variable undefined */
}

.d-block {
  display: block;
}
.uppercase {
  text-transform: uppercase;
}
.sr-only {
  /* screen reader utility class */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mt-7 {
  margin-top: 7rem !important;
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
.numbered-title {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72;
}
.numbered-title span {
  margin-right: 0.5rem;
  font-weight: 700;
  color: hsl(var(--clr-white));
}
