
@font-face {
    font-family: 'ShentoxBoldItalic';
    src: url('../webfonts/shentox/sh2003-BdIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-BdIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-BdIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-BdIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-BdIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-BdIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxBold';
    src: url('../webfonts/shentox/sh2003-Bd.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-Bd.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Bd.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Bd.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-Bd.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxLightItalic';
    src: url('../webfonts/shentox/sh2003-LtIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-LtIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-LtIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-LtIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-LtIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-LtIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxLight';
    src: url('../webfonts/shentox/sh2003-Lt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-Lt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Lt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Lt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-Lt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxMediumItalic';
    src: url('../webfonts/shentox/sh2003-MmIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-MmIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-MmIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-MmIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-MmIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-MmIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxMedium';
    src: url('../webfonts/shentox/sh2003-Md.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-Md.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Md.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Md.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-Md.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxRegularItalic';
    src: url('../webfonts/shentox/sh2003-RgIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-RgIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-RgIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-RgIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-RgIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-RgIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxRegular';
    src: url('../webfonts/shentox/sh2003-Rg.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-Rg.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Rg.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Rg.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-Rg.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxSemiBoldItalic';
    src: url('../webfonts/shentox/sh2003-SmBdIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-SmBdIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-SmBdIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-SmBdIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-SmBdIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-SmBdIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxSemiBold';
    src: url('../webfonts/shentox/sh2003-SmBd.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-SmBd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-SmBd.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-SmBd.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-SmBd.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-SmBd.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxThinItalic';
    src: url('../webfonts/shentox/sh2003-ThIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-ThIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-ThIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-ThIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-ThIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-ThIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxThin';
    src: url('../webfonts/shentox/sh2003-Th.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-Th.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-Th.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Th.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-Th.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-Th.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxUltraLightItalic';
    src: url('../webfonts/shentox/sh2003-UtLtIt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-UtLtIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-UtLtIt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-UtLtIt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-UtLtIt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-UtLtIt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ShentoxUltraLight';
    src: url('../webfonts/shentox/sh2003-UtLt.eot'); /* IE9 Compatibility Modes */
    src: url('../webfonts/shentox/sh2003-UtLt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/shentox/sh2003-UtLt.woff2') format('woff2'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-UtLt.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/shentox/sh2003-UtLt.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/shentox/sh2003-UtLt.svg#font') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
