.tokenomics-grid {
   margin-top: 2rem;
   margin-bottom: 2.2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   gap: 1rem;
   //grid-template-columns: repeat(4, 1fr);

   margin-inline: auto;
}
.tokenomics-card {
   padding: 1.5rem;
   padding-top: 1rem;
   border-radius: 0.5rem;
   border: 1px solid var(--color-bg-gray-subtle);
   min-width: 14rem;
   box-shadow: 1rem 1.5rem 2rem -0.5rem var(--color-box-shadow);

   .sub-grid {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      //grid-template-columns: repeat(5, 1fr);
      //grid-template-rows: minmax(100px, auto);
      justify-content: left;
      gap: 0.7rem 2rem;
      .group {
         max-width: 14rem;
         h5 {
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--color-text-muted);
            text-transform: uppercase;
            margin: 0;
         }
         h6 {
            font-size: 1.1rem;
            font-weight: 300;
            color: var(--color-text);
            margin: 0;
            margin-bottom: 0.7rem;
         }
         h6:last-child {
            margin-bottom: 0;
         }
         h5.cap {
            font-size: 1.1rem;
         }
         h6.cap {
            font-size: 1.3rem;
            color: #22a619 !important;
         }
      }
   }
}

.advantages-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
   //grid-template-columns: repeat(4, 1fr);

   margin-inline: auto;

   .advantage-card {
      padding: 1.5rem;
      padding-top: 1rem;
      border-radius: 0.5rem;
      border: 1px solid var(--color-bg-gray-subtle);
      max-width: 340px;
      box-shadow: 1rem 1.5rem 2rem -0.5rem var(--color-box-shadow);
   }

   .advantage-card > h2 {
      font-size: 1.5rem;
      margin-bottom: 0.7rem;
   }
   .advantage-card > h3 {
      font-size: 1.4rem;
   }
   .advantage-card > h4 {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: var(--txt-font-stack-content);
      color: var(--color-text);
      margin-bottom: 0.6rem;
   }
   .advantage-card > p {
      font-size: 0.9rem;
      margin-bottom: 0.6rem;
   }
}

.standard-card.quote {
   background-image: url('./images/bg-pattern-quotation.svg');
   background-repeat: no-repeat;
   background-position: top 2% right 10%;
}

.utility-grid {
   display: grid;
   gap: 1rem;
   grid-auto-columns: 1fr;
   grid-template-areas:
      'u-one'
      'u-two'
      'u-three'
      'u-four'
      'u-five'
      'u-six';

   padding-block: 2rem;
   width: min(95%, 70rem);
   margin-inline: auto;
}

.utility-grid-item {
   position: relative;
   padding: 1rem;
   border: 1px solid var(--color-bg-gray-subtle);
   border-radius: 0.5rem;
   // shadow: horizontal vertical blur spread color
   box-shadow: 2rem 2.5rem 2.5rem -1.5rem var(--color-box-shadow);

   p {
      font-size: 1rem;
      margin-top: 0.7rem;
   }

   h3 {
      font-size: 1.3rem;
   }
}

.utility-grid-item:nth-child(1) {
   grid-area: u-one;
}
.utility-grid-item:nth-child(2) {
   grid-area: u-two;
}
.utility-grid-item:nth-child(3) {
   grid-area: u-three;
}
.utility-grid-item:nth-child(4) {
   grid-area: u-four;
}
.utility-grid-item:nth-child(5) {
   grid-area: u-five;
}
.utility-grid-item:nth-child(6) {
   grid-area: u-six;
}

@media screen and (min-width: 33em) {
   .utility-grid {
      grid-template-areas:
         'u-one'
         'u-two'
         'u-three'
         'u-four'
         'u-five'
         'u-six';
   }
}
@media screen and (min-width: 54em) {
   .utility-grid {
      grid-template-areas:
         'u-one u-two'
         'u-three u-four'
         'u-five u-six';
   }
}
@media screen and (min-width: 75em) {
   .utility-grid {
      grid-template-areas:
         'u-one u-two u-three'
         'u-four u-five u-six';
   }
}
