.section-creativity-central {
   /* background is an image */
   background-color: silver;
   background: var(--bg-section-creativity-central);
   background-size: cover;
   background-position: top center;
   min-height: 400px;
   z-index: 10;
   position: relative;
   background-position: bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding: 0;
 
   .overlay {
     background: url('images/homepage/section-overlay-2.svg');
     background-size: cover;
     height: 100vh;
   }
 }
