
.section-defi {
   background-color: gray;
   background: var(--bg-section-defi);
   min-height: 500px;
   z-index: 10;
   position: relative;
   padding: 0;
 
   .overlay {
     background: url('images/homepage/section-overlay-3.svg');
     background-size: cover;
     height: 100vh;
   }
 }
