.section-secret-laboratory {
   /* background is an image */
   background-color: silver;
   background: var(--bg-section-secret-laboratory);
   min-height: 600px;
   z-index: 10;
   position: relative;
   background-position: top left;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding: 0;
 
   .overlay {
     background: url('images/homepage/section-overlay.svg');
     background-size: cover;
     height: 100vh;
   }
 }
