#masthead {
   text-transform: uppercase;
   display: grid;
   place-items: center;
   
   .hero-content {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      max-width: 90vw;
      align-items: center;

      .icon {
         width: 100px;
       }
       
      h2 {
         font-size: render_clamp(1.2rem, 50vw, 2rem);
      }
      h3 {
         color: var(--color-text);
         font-size: render_clamp(1.1rem, 2rem, 2rem);
      }
   }
}
