#masthead {
  background: var(--bg-section-masthead);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

   text-transform: uppercase;
   display: grid;
   place-items: center;
   
   padding: 0;
   margin: 0;

   .hero-content-temp {
    max-width: 500px;
    text-align: center;
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;

    h2 {
      font-size: 3rem;
    text-shadow: 1px 1px 2px var(--color-text-shadow);
    }
    h3 {
      font-size: 3rem;
      color: var(--color-text);
    text-shadow: 1px 1px 2px var(--color-text-shadow);
    }
    h4 {
      font-size: 1.1rem;
      font-weight: 200;
      padding-top: 5.5rem;
    text-shadow: 1px 1px 2px var(--color-text-shadow);
    }
   }
   .hero-content {
      display: grid;
      place-items: center;
      // gap: 1.5rem;
      //grid-auto-columns: 1fr;
      grid-template-areas:
      'one'
      'two';  
      column-gap: 10px;
      max-width: 90vw;
      align-items: center;

      .icon {
         width: 100px;
       }
       
      .text {
         min-width: 330px;
      }
      h2 {
         font-size: render_clamp(1.2rem, 50vw, 2rem);
      }
      h3 {
         color: var(--color-text);
         font-size: render_clamp(1.1rem, 2rem, 2rem);
      }
   }
   .hero-content:nth-child(1) {
      grid-area: one;
    }
    .hero-content:nth-child(2) {
      grid-area: two;
    }
    
    @media screen and (min-width: 33em) {
      .hero-content {
        grid-template-areas:
          'one'
          'two';
      }
    }
    
    @media screen and (min-width: 38em) {
      .hero-content {
        grid-template-areas:
          'one'
          'two';
      }
    }
    
    @media screen and (min-width: 54em) {
      .hero-content {
        grid-template-areas:
        'one two';
      }
    }
    
    @media screen and (min-width: 75em) {
      .hero-content {
        grid-template-areas:
          'one two';
      }
    }
    
}
