.homepage-footer {
   background-color: #323242;
   background: var(--bg-section-footer);
   background-size: cover;
   background-position: bottom left;
   min-height: 500px;
   z-index: 10;
   position: relative;
 }
